body,
h1,
h2,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Ensuring box sizing is consistent across elements */
* {
	box-sizing: border-box;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
	height: 100vh;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	text-align: center;
}
